<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <!-- 通过配置文件yaml设置全局规划器和局部 -->  
        <!-- <rosparam file="$(find my_navigation)/param/base_global_planner_params.yaml"/>  
        <rosparam file="$(find my_navigation)/param/base_local_planner_params.yaml"/>   -->

        <!-- 或者直接在launch文件中指定全局规划器类型，但这通常不推荐，因为配置可能很复杂 -->  
        <param name="GlobalPlanner" value="navfn/NavfnROS"/>  
        <!-- 局部规划器可以在这里直接指定 -->  
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>  
        
  
        <!-- 其他move_base参数，如recovery_behavior_enabled等，也可以在这里设置 -->  
        <rosparam file="$(find my_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find my_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find my_navigation)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_navigation)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_navigation)/param/base_local_planner_params.yaml" command="load" />
    </node>

</launch>